In [ ]:
#integers -1,-2,-3,0,1,2,23,100,200,401000, 901000000
#float/double -- 0.1,0.11,,500.0,600.122134
#string ---  '0.23059tynd&6^%@',"oooskihfw[]];pp=po-o-"
#boolean -- True, False
#date ---   2023-12-01, 12 December 2021, 12/01/2021 01:00:10
#list -- [1,'b','worddddddddddddddddddddddddddddd',4.5,True] #mutable -- can be modified
#dictionary --- {'key':'value'}---{'a':1,'b':'wordddd','c':7.77}
#tuple --- (1,2,3,4,'g','h','r',9.0) #immutable -- cant be modified
#set --- {1,2,3,4,4,'b','b','v'} --- {1,2,3,4,'b',v}

In [8]:

print('a',True,1.0,ty)#print basic syntax

a True 1.0 100

In [9]:
1,2.0, True, 56

(1, 2.0, True, 56)

In [10]:
10*10

100

In [11]:
a = 10

In [12]:
print(a)

10

In [33]:
#Variable assignment rules

#1  it cannot start with number
#1ar = 100

#2 it should always start with alphabets or _
_ = 10

#3 it cannot contain or start with punctuations or symbols
ar= 10

#4 its case sensitive
a = 10
A = 20
arr = 100
Arr = 200

# generic practice is that variables should describe the value and use underscore '_' where ever necessary
int_add = 10+10

# Integers

In [62]:
int1 = 70
int2 = 100

## Math Operators

In [63]:
int1 + int2 # addition

170

In [64]:
int1 - int2 #subtraction

-30

In [65]:
int1/int2 #division

0.7

In [66]:
int1 * int2 #multiplication

7000

In [71]:
int2//int1 ## quotient or floor division

1

In [72]:
int2%int1 ## remainder

30

## Comparision Operators

In [77]:
## Equals to
result = int1 == int2
print(result)
print(int1 == int2)

False
False

In [79]:
# not equals to 
result2 = int1 != int2
print(result2)

True

In [81]:
#greater than
result3 = int1 > int2
print(result3)

False

In [82]:
#less than
result4 = int1 < int2
print(result4)

True

In [91]:
#greater or equals to
result5 =  int1 >= int2
print(result5)

False

In [92]:
#less or equals to
result6 =  int1 <= int2
print(result6)

True

## Assignment Operators

In [93]:
int3 = 60

In [94]:
print(int3)

60

In [95]:
int3 = int3 + 50 # python will automatically consider the value of the variable on the right side.

In [96]:
print(int3)

110

In [99]:
int3 += 100 #update the value based on the operator and store in the same variable

In [100]:
print(int3)

210

In [101]:
int3 -= 50

In [102]:
print(int3)

160

In [103]:
int4 = int3 + 50

In [104]:
print(int4)

210

## Logical Operators

In [107]:
## and(&) , or(|), not(!)

print(int3 == int4)

False

In [109]:
print(int3 < int4)

True

In [118]:
result_and = (int3 == int4) and (int3 < int4) # until both are True it doesnt return True
result_and = (int3 == int4) & (int3 < int4)

In [121]:
print(result_and)

False

In [119]:
result_or = (int3 == int4) or (int3 < int4) # until both are False it doesnt return False
result_or = (int3 == int4) | (int3 < int4) # until both are False it doesnt return False

In [120]:
print(result_or)

True

In [117]:
print(not(int3 == int4))

True