# STRINGS

In [50]:
#SYNTAXES
# STRING[index] ---- to access single element 
# STRING[start_index:end_index] ---- to access multiple elements :: note: end_index  is not included
# STRING[start_index:end_index:step] --- to jump/skip the elements
#start_index = 0, end_index = 5, step = 1 --- 0,0+1,0+1+1,0+1+1+1,0+1+1+1+1,0+1+1+1+1+1 -- 0 1 2 3 4 5
#start_index = 0, end_index = 5, step = 2 --- 0,0+2,0+2+2 -- 0 2 4
#start_index = 0, end_index = 5, step = -1 ---0(the other end),0-1,0-1-1,... -- -1 -2 -3 -4 -5

In [6]:
str1 = 'Venu'
str2 = "Kiran"

In [17]:
#index is nothing but the position of the element in the string and the indexing starts from 0

In [ ]:
#positive indexing

#'Venu'---0 1 2 3

In [18]:
print(str1[0],str1[1],str1[2],str1[3])

V e n u

In [19]:
#negative indexing
#'Kiran' --- 0 -4 -3 -2 -1

In [20]:
"Kiran"[-3]

'r'

In [21]:
'Kiran'[0]

'K'

In [40]:
str3 = 'I love India'
str4 = 'IloveIndia'

In [35]:
max_ind = len(str3)-1

In [36]:
str3[max_ind]

'a'

In [37]:
str2[0:3]

'Kir'

In [38]:
str3[0:12]

'I love India'

In [44]:
str3[-5:-1]

'Indi'

In [45]:
str3[-5:]# to include the last letter

'India'

In [46]:
str3[:] #gives the whole string

'I love India'

In [53]:
print(str3[:])

I love India

In [54]:
print(str3[::1]) #012345678
print(str3[::2])#0246810
print(str3[::3])#036912

I love India
Ilv ni
Io d

In [55]:
print(str3[::-1]) # -1-2-3-4-5...

aidnI evol I

In [56]:
print(str3[::-2])#-2-4-6-8...

adIeo

In [57]:
# String Operations

In [59]:
str1,str2

('Venu', 'Kiran')

In [60]:
str1 + str2

'VenuKiran'

In [66]:
str1 == str2

False

In [67]:
str1 != str2

True

In [68]:
'venu' == 'venu'

True

In [69]:
'venu' == "Venu" #case sensitive

False

In [78]:
str2.lower() # converts all to lower case

'kiran'

In [77]:
str2.upper() # converts to upper case

'KIRAN'

In [79]:
str2.replace('r','s') #to replace a individual word

'Kisan'

In [87]:
print(str2)
print(str2.endswith('ran'))

Kiran
True

In [90]:
print(str2)
print(str2.startswith('Ki'))

Kiran
True

In [92]:
'Love'*5

'LoveLoveLoveLoveLove'

In [93]:
' '*5

'     '

## STRING INTERPOLATION

In [126]:
num1 = 1100
num2= 670
num3 = 650

In [121]:
print('The population of hyderabad is',num1,' the male count is ',num2,'and female count is',num3)

The population of hyderabad is 1100  the male count is  500 and female count is 650

In [127]:
#.format method
'The population of hyderabad is {int1} the male count is {int2} and female count is {int3}'.format(int1 = num1, int2 = num2, int3 =num3)

'The population of hyderabad is 1100 the male count is 670 and female count is 650'

In [128]:
#f method
f'The population of hyderabad is {num1} the male count is {num2} and female count is {num3}'

'The population of hyderabad is 1100 the male count is 670 and female count is 650'

In [129]:
#Split Method -- syntax = STRING.split('character')

str1 = 'Type.this.sentence.without.dots'

In [130]:
str2 = 'Kondapur,Masjid Banda,Hyderabad,Telangana,500084'

In [136]:
split1 = str1.split('.')
print(split1)

['Type', 'this', 'sentence', 'without', 'dots']

In [137]:
split2 =str2.split(',')
print(split2)

['Kondapur', 'Masjid Banda', 'Hyderabad', 'Telangana', '500084']

In [134]:
#Join Method --- syntax = 'Character'.join(LIST)

In [139]:
'_'.join(split1)

'Type_this_sentence_without_dots'

In [156]:
' '.join(split2)

'Kondapur Masjid Banda Hyderabad Telangana 500084'

In [157]:
print('\n'.join(split2))

Kondapur
Masjid Banda
Hyderabad
Telangana
500084

In [158]:
str3 = 'Venu and Kiran are learning Python'

In [161]:
# to find the string character/word in the string
str3.find('and')

5

In [163]:
#to count the occurences of the string character/word in the string
print(str3.count('e'),str3.count('a'),str3.count('n'))

3 4 6

In [164]:
str4 = 'Venu'

In [169]:
print(len(str4),len(str4.center(10)),str4.center(10))
print(len(str4),len(str4.ljust(8)),str4.ljust(8))
print(len(str4),len(str4.rjust(9)),str4.rjust(9))

4 10    Venu
4 8 Venu
4 9      Venu

In [170]:
str5 = 'Kiran'

In [171]:
print(len(str5),len(str5.center(10)),str5.center(10))
print(len(str5),len(str5.ljust(8)),str5.ljust(8))
print(len(str5),len(str5.rjust(9)),str5.rjust(9))

5 10   Kiran
5 8 Kiran
5 9     Kiran