# TUPLES

In [1]:
# collection of elements in () which are not mutable

In [21]:
# CREATION OF TUPLES
tup1 = (7,8,9) #method 1
list1 = [7,8,9]
list2 = list(tup1)
tup2 = tuple('hello') # method2
tup3= ('hello',1,2,True,[1,2,3])
tup4 = tuple(list1) #method3
print(tup1,'\n',tup2,'\n',tup3,'\n',tup4,'\n',list2)

(7, 8, 9)
 ('h', 'e', 'l', 'l', 'o')
 ('hello', 1, 2, True, [1, 2, 3])
 (7, 8, 9)
 [7, 8, 9]

In [78]:
#accessing tuples
print(tup2[2])# returns the single value/element -- accessing
print(tup2[1:4]) # returns the tuple of elements --- slicing
print(tup3[-1])
print(tup3[::-1])
print(len(tup2)) #to take the length
tup6 = tup1+tup2 #not modifying only adding two different tuples
print(tup6)
print(tup1*3,tup1)
print(7 in tup1)
print(7 not in tup1)
tup7 = (0,False,1,True,2,3,4,[1,2,3,4])
tup8 = (0,1,True,2,3,4,[1,2,3,4])
print(tup8,tup8.count(1)) #returns 1 for True, and 0 for False

tup9 = (1,12,11,8,202)
print(sorted(tup9))#return a sorted list as tuple is not mutable

a,b,c = (444,555,666) #tuple unpacking and it needs the variables to be in the same length of the tuple
print(a,b,c)

tup10 = ('a','b',(0,90,99,88,(12,13,14)))

l
('e', 'l', 'l')
[1, 2, 3]
([1, 2, 3], True, 2, 1, 'hello')
5
(7, 8, 9, 'h', 'e', 'l', 'l', 'o')
(7, 8, 9, 7, 8, 9, 7, 8, 9) (7, 8, 9)
True
False
(0, 1, True, 2, 3, 4, [1, 2, 3, 4]) 2
[1, 8, 11, 12, 202]
444 555 666

In [64]:
tup10[2][4][1] # nested tuple

13

# SETS

In [65]:
# set is a collection of unique items under {}

In [103]:
set1 = {1,2,2,'a','b',True,False,(11,23,45,45)}
set2 = {22,33,33,44,'p','o','q'}# doesnt allow lists because list is mutable

In [84]:
set3 = {1,2,2002,55,66,99}
set4 = {True,False,True,False}
set5  = {'a','eae','c','d'}
print(sorted(set3),sorted(set4),sorted(set5))#returns list because set itself is not accessible

[1, 2, 55, 66, 99, 2002] [False, True] ['a', 'c', 'd', 'eae']

In [94]:
set3.add('a')#adds to the set as single element
set3.add('def')
set3.add(('k','l','m'))
print(set3)

{1, 2, 66, 'd', 'l', 2002, 'f', 'k', 99, 'a', 'def', 'e', ('k', 'l', 'm'), 55, 'b', 'm'}

In [93]:
set3.update('def') #updates the set as a iterable
set3.update({'k','l','m'})
print(set3)

{1, 2, 66, 'd', 'l', 2002, 'f', 'k', 99, 'a', 'def', 'e', 55, 'b', 'm'}

In [99]:
set3.remove('e')# if element is not present it creates error
print(set3)

KeyError: 'e'

In [98]:
set3.discard('e') # doesnt create error when element is not present
print(set3)

{1, 2, 66, 'l', 2002, 'f', 'k', 99, 'a', 'def', ('k', 'l', 'm'), 55, 'b', 'm'}

In [100]:
set3.pop() #randomly removes one element

1

In [104]:
print(set2,set3)

{'p', 33, 'q', 'o', 22, 44} {2, 66, 'l', 2002, 'f', 'k', 99, 'a', 'def', ('k', 'l', 'm'), 55, 'b', 'm'}

In [113]:
set4 = {1,2,3,4,5,'a','c'}
set5 = {2,3,4,'f','e'}

In [116]:
print(set4.union(set5))#adds two sets similar to update only works on sets
print(set4.intersection(set5)) #shows common elements in both
print(set4.difference(set5)) #shows elements that are only in set4
print(set5.difference(set4)) #shows elements that are only in set5
print(set4^set5) #shows elements that are both in set4 and set5
set2.isdisjoint(set3) #returns True if both has no common elements

{1, 2, 3, 4, 5, 'a', 'c', 'e', 'f'}
{2, 3, 4}
{'c', 1, 5, 'a'}
{'e', 'f'}
{1, 5, 'a', 'c', 'e', 'f'}

True